<head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<h1>View 1</h1>
<p><b>Computes a Join of at least 3 tables: </b> To get the borrower name of all the books present in a specific branch by a certain author.</p>
<table id="view1Table" border="1">
    <tr>
        <th>Borrower Name</th>
        <th>Borrower ID</th>
        <th>Branch ID</th>
        <th>Author Name</th>
    </tr>
    {% for view1 in view1 %}
    <tr>
        <td>{{view1[0]}}</td>
        <td>{{view1[1]}}</td>
        <td>{{view1[2]}}</td>
        <td>{{view1[3]}}</td>
    </tr>
    {% endfor %}
</table>
<a href="/employeeHome" class="back">&laquo; Back</a>