<!-- <div class="Form">
    <form id="borrowerLogInForm" method = 'POST' action = "">
        <input name="name" type="text" placeholder="Enter Borrower Name" />
        <br>
        <input name="ID" type="text" placeholder="Enter Borrower ID" /> 
        <br>
        <button id="borrowerLogInSubmit" type="submit">Log-In</button>
    </form>
    <form id="borrowerSignUpForm" method = 'POST' action = "">
        <input name="name" type="text" placeholder="Enter Borrower Name" />
        <br>
        <input name="ID" type="text" placeholder="Enter Borrower Email" />
        <br>
        <input name="ID" type="text" placeholder="Enter Borrower Phone" />
        <br>
        <button id="borrowerSignUpSubmit" type="submit">Sign-Up</button>
    </form>
</div> -->
<div id="borrower-form-div">
    <form id="borrower-form" action = "/borrower/insert" method="POST" >
        <input  type="text" name="borrowerIDnew" placeholder="Enter Borrower ID" required>
        <br>
        <input type="text" name="borrowerName" placeholder="Enter Borrower Name" required>
        <br>
        <input type="email" name="email" placeholder="Enter Borrower Email" required>
        <br>
        <input type="text" name="phoneNumber" placeholder="Enter Borrower Phone Number" required>
        <br>
        <input type="submit">
        <br>
    </form>
</div>
<div id="borrower-header"><h1>Borrowers</h1></div>
<div id="borrower-details">
    <table border="1">
        <tr>
            <th>Borrower ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone no</th>
            <th>Action</th>
        </tr>
        {% for borrower in borrowerDetails %}
        <tr>
            <td> {{borrower[0]}} </td>
            <td> {{borrower[1]}} </td>
            <td> {{borrower[2]}} </td>
            <td> {{borrower[3]}} </td>
            <td>
                <a href="borrower/edit/{{borrower[0]}}">Edit</a>
                <a href="borrower/delete/{{borrower[0]}}">Delete</a>
            </td> 
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back</a>
</div>