<head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<img src="../static/css/book_icon.png">
<div id="borrower-header"><h1>Borrowers</h1></div>
<div id="borrower-form-div">
    <form id="borrower-form" action = "/borrower/insert" method="POST" >
        <input  type="text" name="borrowerIDnew" placeholder="Enter Borrower ID" required>
        <br>
        <input type="text" name="borrowerName" placeholder="Enter Borrower Name" required>
        <br>
        <input type="email" name="email" placeholder="Enter Borrower Email" required>
        <br>
        <input type="text" name="phoneNumber" placeholder="Enter Borrower Phone Number" required>
        <br>
        <input type="submit">
        <br>
    </form>
</div>

<div id="borrower-details">
    <table border="1">
        <tr>
            <th>Borrower ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone no</th>
            <th>Action</th>
        </tr>
        {% for borrower in borrowerDetails %}
        <tr>
            <td> {{borrower[0]}} </td>
            <td> {{borrower[1]}} </td>
            <td> {{borrower[2]}} </td>
            <td> {{borrower[3]}} </td>
            <td>
                <a href="borrower/edit/{{borrower[0]}}" class="edit">Edit</a>
                <a href="borrower/delete/{{borrower[0]}}" class="delete">Delete</a>
            </td> 
        </tr>
        {% endfor %}
    </table>
    <a href="/employeeHome" class="back">&laquo; Back</a>
</div>