<head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<img src="../static/css/book_icon.png">
<h1>Edit Employee with ID {{employeeEdit.0}}</h1>
<form method="POST" action="/employee/update/{{employeeEdit.0}}">
    <input type="text" name="employeeNameEdit" placeholder="Enter Employee Name" required>
    <br>
    <input type="text" name="employeeTitleEdit" placeholder="Enter Employee Title" required>
    <br>
    <input type="number" name="branchIDemployeeEdit" placeholder="Enter Employee Branch" required>
    <br>
    <input type="number" name="weeklyHoursEdit" placeholder="Enter Work Hours" required>
    <br>
    <input type="number" name="hourlyWagesEdit" placeholder="Enter Hourly Wage" required>
    <br>
    <input type="submit">
    <br>
</form>