<head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<div id="employee-header"><h1>Employees</h1></div>
<div id="books-form-div">
    <form id="books-form" action = "/employee/insert" method="POST" >
        <input  type="number" name="employeeID" placeholder="Enter Employee ID" required>
        <br>
        <input type="text" name="employeeName" placeholder="Enter Employee Name" required>
        <br>
        <input type="text" name="employeeTitle" placeholder="Enter Employee Title" required>
        <br>
        <input type="number" name="branchIDemployee" placeholder="Enter Employee Branch" required>
        <br>
        <input type="number" name="weeklyHours" placeholder="Enter Work Hours" required>
        <br>
        <input type="number" name="hourlyWages" placeholder="Enter Hourly Wage" required>
        <br>
        <input type="submit">
        <br>
    </form>
</div>
<div id="employee-details">
    <table border="1">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Title</th>
            <th>Branch ID</th>
            <th>Weekly Work Hours</th>
            <th>Hourly Wages</th>
            <th>Action</th>
        </tr>
        {% for employee in employeeDetails %}
        <tr>
            <td> {{employee[0]}} </td>
            <td> {{employee[1]}} </td>
            <td> {{employee[2]}} </td>
            <td> {{employee[3]}} </td>
            <td> {{employee[4]}} </td>
            <td> {{employee[5]}} </td>
            <td>
                <a href="employee/edit/{{employee[0]}}">Edit</a>
                <a href="employee/delete/{{employee[0]}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back</a>
</div>