<h1>LIBRARY MANAGEMENT SYSTEM</h1>
<div class="Form">
    <!-- <form method = 'POST' action = "">
        <input name="name" type="text" placeholder="Enter Name" />
        <br>
        <input name="ID" type="text" placeholder="Enter ID" />
        <br>
        <input type="submit" />
    </form> -->
    <a href="\borrower">Borrower list</a>
    <br>
    <a href="\books">Books list</a>
    <br>
    <a href="\employee">Employee list</a>
    <br>
    <a href="\library_branch">Branch list</a>
    <br>
    <a href="\views\1">View 1</a>
    <br>
    <a href="\views\2">View 2</a>
    <br>
    <a href="\views\3">View 3</a>
    <br>
    <a href="\views\4">View 4</a>
    <br>
    <a href="\views\5">View 5</a>
    <br>
    <a href="\views\6">View 6</a>
    <br>
    <a href="\views\7">View 7</a>
    <br>
    <a href="\views\8">View 8</a>
    <br>
    <a href="\views\9">View 9</a>
    <br>
    <a href="\views\10">View 10</a>
    <br>
    <a href="\">Log-out</a>
</div>