<div class="Form">
    <!-- <form method = 'POST' action = "">
        <input name="name" type="text" placeholder="Enter Name" />
        <br>
        <input name="ID" type="text" placeholder="Enter ID" />
        <br>
        <input type="submit" />
    </form> -->
    <button>Display Borrower Table</button>
    <br>
    <button>Display Books Table</button>
    <br>
    <button>Display Branch Table</button>
    <br>
    <button>Display Employee Table</button>
    <br>
    <button>View 1</button>
    <br>
    <button>View 2</button>
    <br>
    <button>View 3</button>
    <br>
    <button>View 4</button>
    <br>
    <button>View 5</button>
    <br>
    <button>View 6</button>
    <br>
    <button>View 7</button>
    <br>
    <button>View 8</button>
    <br>
    <button>View 9</button>
    <br>
    <button>View 10</button>
    <br>
</div>