<head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>

<body>

    <img src="../static/css/book_icon.png">
<h1>LIBRARY MANAGEMENT SYSTEM</h1>

<div class="Form">
    <!-- <form method = 'POST' action = "">
        <input name="name" type="text" placeholder="Enter Name" />
        <br>
        <input name="ID" type="text" placeholder="Enter ID" />
        <br>
        <input type="submit" />
    </form> -->
    <a href="\borrower" class="button">Borrower list</a>
    <br>
    <a href="\books"class="button">Books list</a>
    <br>
    <a href="\employee" class="button">Employee list</a>
    <br>
    <a href="\library_branch" class="button">Branch list</a>
    <br>
    <a href="\views\1" class="button">View 1</a>
    <br>
    <a href="\views\2" class="button">View 2</a>
    <br>
    <a href="\views\3" class="button">View 3</a>
    <br>
    <a href="\views\4" class="button">View 4</a>
    <br>
    <a href="\views\5" class="button">View 5</a>
    <br>
    <a href="\views\6" class="button">View 6</a>
    <br>
    <a href="\views\7" class="button">View 7</a>
    <br>
    <a href="\views\8" class="button">View 8</a>
    <br>
    <a href="\views\9" class="button">View 9</a>
    <br>
    <a href="\views\10" class="button">View 10</a>
    <br>
    <a href="\" class="log-out">Log-out</a>
</div>

