<head>
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<img src="../static/css/book_icon.png">
<h1>Edit Branch with ID {{branchEdit.0}}</h1>
<form id="branch-edit-form" method="POST" action="/library_branch/update/{{branchEdit.0}}">
    <input type="text" name="branchNameEdit" placeholder="Enter Branch Name" required>
    <br>
    <input type="text" name="branchLocationEdit" placeholder="Enter Branch Address" required>
    <br>
    <input type="number" name="capacityEdit" placeholder="Enter Branch Capacity" required>
    <br>
    <input type="number" name="numberOfEmployeeEdit" placeholder="Enter number of Employees" required>
    <br>
    <input type="number" name="numberOfBooksEdit" placeholder="Enter number of Books" required>
    <br>
    <input type="submit">
    <br>
</form>