<div id="branch-header"><h1>Library Branch</h1></div>
<div id="branch-form-div">
    <form id="branch-form" action = "/library_branch/insert" method="POST" >
        <input  type="number" name="branchID" placeholder="Enter Branch ID" required>
        <br>
        <input type="text" name="branchName" placeholder="Enter Branch Name" required>
        <br>
        <input type="text" name="branchLocation" placeholder="Enter Branch Address" required>
        <br>
        <input type="number" name="capacity" placeholder="Enter Branch Capacity" required>
        <br>
        <input type="number" name="numberOfEmployee" placeholder="Enter number of Employees" required>
        <br>
        <input type="number" name="numberOfBooks" placeholder="Enter number of Books" required>
        <br>
        <input type="submit">
        <br>
    </form>
</div>
<div id="branch-details">
    <table border="1">
        <tr>
            <th>Branch ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>Capacity</th>
            <th>Number of Employee</th>
            <th>Number of Books</th>
            <th>Action</th>
        </tr>
        {% for branch in branchDetails %}
        <tr>
            <td> {{branch[0]}} </td>
            <td> {{branch[1]}} </td>
            <td> {{branch[2]}} </td>
            <td> {{branch[3]}} </td>
            <td> {{branch[4]}} </td>
            <td> {{branch[5]}} </td>
            <td>
                <a href="library_branch/edit/{{branch[0]}}">Edit</a>
                <a href="library_branch/delete/{{branch[0]}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back</a>
</div>